.TrendCard {
  display: flex;
  flex-direction: column;
  gap: 1
  rem;
  background-color: var(--cardColor);
  padding: 1rem;
  border-radius: 1rem;
  padding-left: 2rem;
}

.trend {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

/* trend.css */

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  gap: 5 rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: bold;
}
